
.dashboard{
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: white;
    gap: 20px;
}
.MainDash{
    padding-top: 1rem;
    overflow: hidden;
    width: 1920px;
    height: 1080px;
    display: flex;
    gap: 50px;
}
.textTitle{
    margin-bottom: 3rem;
}

.cardsTab{
    margin-top: 4rem;
}

.grahp{
    margin-top: 4rem;
}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}