.dashboard-container {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: red;
}
.cards-container {
  display: flex;
  width: 90%;
}

.charts-container {
  display: flex;
  width: 100%;
  background-color: beige;
}

.line-chart {
  width: 50%;
  background-color: black;
}

.pie-chart {
  width: 50%;
  background-color: brown;
}

.table-container {
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
