/* Estilos para el componente Line */
.custom-margin-small {
    margin: 1rem;
  }
  
  
  .custom-bg-white {
    background-color: #fff;
  }
  
  .custom-bg-dark {
    background-color: #fff;
  }
  
  
  .custom-full-width {
    width: 100%;
  }
  