.welcomeCustome{
  background-color: #494848;
  border-radius: 0.5rem;
  height: 18rem;
}

.overlapWelcome{
  display: flex;
  gap: 20px;
}

.text-welcome {
  color: white;
font-family: "Poppins", sans-serif;
font-size: 24px;
font-weight: 600;
left: 0;
letter-spacing: 0;
line-height: normal;
margin-top: 39px;
margin-left: 35px;
white-space: nowrap;
width: 515px;
}

.text-p{
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-left: 35px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 60px;
  width: 80%;
}

.NFT {
  height: 280px;
  left: 550px;
  object-fit: cover;
  margin-top: 9px;
  width: 283px;
}